@media(max-width: 1280px) {
    .cabecalho{
        padding: 30px;
    }

    .home {
        flex-direction: column;
        align-items: center;
        margin: 50px 0;
        gap: 30px;
    }

    .home .descricao {
        max-width: 100%;
        text-align: center;
        align-items: center;
    }

    .informacoes .container-informacoes{
        padding: 0 30px;
    }
}

@media(max-width: 425px) {
    .home .descricao h1 {
        font-size: 20px;
    }

    .home .descricao p {
        font-size: 16px;
    }

    .home .container-foto img {
        max-width: 320px; 
    }

    .informacoes .titulo h2 {
        padding: 30px;
    }
}